@use '../custom' as *;

.companies {
    padding: 0 0 5rem 0;
    .sections-head {
        font-size: 1.25rem;
    }
    .co-img {
        padding: .5rem;
        height: 3rem;
        margin-bottom: 2rem;
        cursor: pointer;
        img {
            height: 100%;
            transition: .3s;
        }
        &:hover img { 
            filter: grayscale(120);
        }
    }
}