@use '../custom' as *;
@use '../helpers/mixins' as *;

.nav-bg {
    @include gradient;
        li {
            padding: 0 0.6rem;
            font-weight: 600;
            a {
                color: $disabled !important;
                &.active,
                &:hover {
                    color: $white !important;
                }
                &.active {
                    cursor: default;
                }
            }
        }
}
.navbar-toggler {
    border: .15rem solid $primary;
    transition: .3s;
    &:focus {
        box-shadow: none;
    }
    .toggler-icon {
        transition: .3s;
        color: $white;
        width: 1.7rem;
        height: 1.7rem;
    }
    &:hover {
        border-color: $white;
        & .toggler-icon {
            color: $primary;
        }
    }
}
.nav-item {
    cursor: pointer;
}