@use '../custom' as *;
@use '../helpers/mixins' as *;

.portfolio {
    padding: 4rem 0;
    .portfolio-boxes {
        row-gap: 1rem;
        .portfolio-box {
            position: relative;
            border-top: .5rem solid rgba($primary, .6);
            height: 18.5rem;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                transition: 1s;
            }
            .portfolio-info {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba($primary, .75);
                opacity: 0;
                visibility: hidden;
                transition: .5s;
                .caption {
                    text-align: center;
                    color: $white;
                    @include abs-center;
                }
            }
            &:hover .portfolio-info {
                opacity: 1;
                visibility: visible;
            }
            &:hover img {
                transform: scale(1.3);
            }
        }
    }
}